<style>
    .inner-pages{margin-top:80px;}
    .demo-text  {text-align:center}
    .demo-text .fa{font-size:80px; color:#0156a7; display:table; padding:10px 0; text-shadow: rgb(224, 224, 224) 1px 1px 0px;; margin:0 auto}
    .demo-features .row{padding:10px; margin:10px 0; background:#fff;  text-align:center;}
    .demo-features .row:nth-child(even){padding:40px; margin:40px 0;background:#f5f5f5; border-top:1px dashed #ddd; border-bottom:1px dashed #ddd}
    h3,strong{
      color: #0156a7;
    }
    .div1-5 div,.div1-6 div{
      display: flex;
    }
</style>
{%extends 'base.html'%}
{%block content%}
<h3 style="margin-top: 40px; margin-left: 500px;">SURVEY SOLUTION</h3>
    <div style="line-height: 35px; margin-left: 150px;margin-right: 150px;display: flex;" class="div1">
      
      <br><br>
      <div class="div1-1" style="display: flex;">
      <img style="width: 125px; height: 110px;" src="https://www.code-x.in/images/Original%20Product01.png" alt="">
      <p><strong style="font-variant: small-caps;">India's 1st rapidly growing survey report generation software that gives you peace of mind. currently working in 21 states and more than 120 cities across India. India's most advanced motor report generation software, that provide you best formatted reports, helps you to maintain TAT (Turn Around Time), schedule your report submission and handle all your day to day back-office activities.</strong></p>
      </div>
    </div>
    <div class="div2">
      <div class="div1-2" style="line-height: 35px; margin-left: 150px;margin-right: 150px; display: flex;">
        <p>This is very surveyor friendly software, Despite of any other available survey software(s),this unique software is very user friendly and easy to operate. As tested in real world working scenario, Survey Solution Software improves day to day working efficiency and increase productivity, this software also have built-in album creation software that helps to create photo-sheets within seconds, Auto Backup facility and this software comes with vast varieties of reports.</p>
        <img src="https://www.code-x.in/images/Survey%20Solution%20Cover.png" alt="">
      </div>
      <div style="line-height: 35px; margin-left: 150px;margin-right: 150px;" class="div2-2">
        <p>Have you ever worried about day to day report generation? Are you still struggling with clumsy document files, tables, borders, header footer and complex formatting of your reports which leads to increase time for making survey reports and creating mental stress? Do you need to work and learn so many software just to create one single report? Is your computer already flooding with Album, Photos, Word, Excel and Pdf files that are unmanageable?</p>
      </div>
    </div>
    <div class="div3" style="display: flex; margin-left: 250px; margin-right: 150px;background-color: #edeef0; width: 850px; height: 450px;">
      <div style="margin-right: 30px; margin-top: 50px; margin-left: 50px;" class="div1-3">
        <strong>PDF,IMAGE READING CAPABILITIES</strong>
        <img style="padding-left: 70px;" src="https://www.code-x.in/images/PicToText.png" alt="">
        <p>Survey Solution Software have unique feature for adding parts and labour directly from PDF and Image files and scanner integration, so you dont have to type it manually, also Code-X Technologies is proving its ground on every level of development and quick after sales support with clients across all over India.</p>
      </div>
      <div style="margin-right: 50px;margin-top: 50px;" class="div2-3">
        <iframe width="343" height="300" src="https://www.youtube.com/embed/oTK02KgXD48" title="Why Enter Manually? See How This Feature Saves Time |Scanner integration in Survey Solution Software" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <strong>parts and labor directly from PDF and Image files, so you don't have to type it manually.</strong>
      </div>

    </div>
    <div class="div4" style="display: flex; margin-left: 250px; margin-right: 150px; width: 850px; height: 450px;">
      <div style="margin-right: 30px; margin-top: 50px; margin-left: 50px;" class="div1-4">
        <strong>BUILT IN ALBUM CREATION</strong>
        <img style="padding-left: 70px;" src="https://www.code-x.in/images/PicToText.png" alt="">
        <p>Survey Solution software has it’s own album creation software, that is fast and robust enough to handle complex image editing task, No need for any other 3rd party software for image editing and album creation. Survey Solution will do it for you! Just within seconds!</p>
      </div>
      <div style="margin-right: 50px;margin-top: 50px;" class="div2-4">
        <strong>Code-X Technologies offers you complete solution for all of your day to day report generation.</strong>
        <iframe width="373" height="300" src="https://www.youtube.com/embed/oTK02KgXD48" title="Why Enter Manually? See How This Feature Saves Time |Scanner integration in Survey Solution Software" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      </div>
      <div class="div5" style="margin-left: 250px; margin-right: 150px;background-color: #edeef0; width: 850px; height: 450px;">
        <h3 style="padding-top: 25px; margin-left: 200px;"><i class="fa fa-sitemap" aria-hidden="true">SERVER BASED TECHNOLOGIES</i></h3>
        <div class="div1-5" style="display: flex;">
          <div style="margin-top: 35px; margin-left: 35px;"><p>Survey Solution is one and only advanced Networking based Software that uses newest and fastest server technology available in the market.
            Our advanced networking features enables user to incorporate multiple network and work seamlessly on <strong> desktop and laptop with LAN or WiFi connection.</strong> You can connect any Laptop and desktop as you desire in your network with Survey Solution. Its Server based technology enables you to work conveniently over Wifi and LAN. You can view/edit reports on your laptop with WiFi connection while your operators are working over LAN connection, it helps software portability and data reliability.</p>
          </div>
          <div style="margin-top: 35px; margin-right: 35px;"><img style="width: 295px;height: 220px;" src="https://www.code-x.in/images/network.png" alt=""></div>
        </div>
        <div class="div6" style="padding-left: 30px;padding-right: 30px; margin-right: 250px;background-color: #edeef0; width: 850px; height: 150px;">
          <p>Survey Solution is built around the Surveyor needs who are having two offices. Our Server based technology enables you to store your database online and work over online database anywhere, your reports will be available online on your finger tips.</p>
        </div>
        <div class="div7" style="margin-right: 150px;width: 850px; height: 450px;">
          <h3 style="padding-top: 25px; margin-left: 200px;font-variant: small-caps;"><i class="fa fa-users" aria-hidden="true">One Software All Solution</i></h3>
          <strong style="padding-left: 50px;">MOST ADVANCED SURVEY REPORT GENERATION SOFTWARE IN CURRENT ERA.</strong>
          <div class="div1-6" style="display: flex;">
            <div style="margin-top: 35px; margin-left: 35px;"><p>Survey Solution is all in one package for all reporting and album (photo sheet) printing. With survey solution,you don’t need to mess with so many softwares to create one single report. This revolutionary software will create your reports in record time and also manage all your data quickly without wasting time. Search, Index and manage your all reports in fraction of  seconds through unique dashboard feature. It also have spell check, reminders, auto-complete, user defined external file linking,  Arrow, circle and text marking in album creation, One and only software to maintain TAT thus insuring stress free working and peace of mind.</p>
            </div>
            <div style="margin-top: 35px; margin-right: 35px;"><img style="width: 305px;height: 155px;" src="https://code-x.in/images/All_In_One.jpg" alt=""></div>
          </div>
        </div>
        <div id="Reports-Generated" class="row" style="padding-left: 50px; background-color: #edeef0; height: 1100px;width: 850px;">
    
          <h3> <i class="fa fa-file-text-o" aria-hidden="true"></i> <strong> Reports Generate by Survey Solution </strong></h3>
          <strong><i class="fa fa-qrcode"></i> Survey Reports</strong>
          <ul> 
        <li>Spot report</li>
        <li>Interim report</li>
        <li>Status report</li>
        <li>Final report <span style="color: #99cc00;">(With Multiple formats for different states)</span>.</li>
        <li>Addendum/Supplementary.</li>
        <li>Bill check report <span style="color: #99cc00;">(On Single Click with multiple formats)</span>.</li>
        <li>Re-Inspection report<span style="color: #99cc00;">(On Single Click)</span>.</li>
        <li>Valuation and pre-Inspection report.</li>
        <li>All types of letters <span style="color: #ff0000;"><span style="color: #99cc00;">(to insurer and Insured)</span></span>.</li>
        <li>IMT-23 and Add-on Policy (Zero Depreciation).</li>
        <li>Total Loss report.</li>
        <li>Excel formats of all major companies.</li>
      </ul>
          <strong><i class="fa fa-money"></i> Accounting Reports</strong>
          <ul> 
        <li>Bill Creation <span style="color: #99cc00;">( With automated prof. fee, conveyance and photo charge calculation)</span>.</li>
        <li>Fee Calculation <span style="color: #99cc00;">(Head Wise, to help calculation of taxes)</span>.</li>
        <li>Payment receipt <span style="color: #99cc00;">(With automated TDS calculation)</span>.</li>
        <li>Bill raised report <span style="color: #99cc00;">(Date wise for selected date range)</span>.</li>
        <li>Bill received report <span style="color: #99cc00;">(Date wise for selected date range)</span>.</li>
        <li>TDS and Service Tax Calculation.</li>
        <li>Bill outstanding report.</li>
      </ul>
          <strong><i class="fa fa-line-chart"></i> Office Management Reports</strong>
          <ul> 
        <li>Excel report for weekly pendency status according to insurer.</li>
        <li>Report reminders <span style="color: #99cc00;">(Connected with reports)</span>.</li>
        <li>Daily Survey Report.</li>
        <li>Survey Report date wise.</li>
        <li>IRDA format 11 and 12.</li>
        <li>Pendency report according to insurer TAT <span style="color: #99cc00;">(Turn Around Time)</span>.</li>
      </ul>	
        <div class="col-xs-12 col-sm-6 col-md-6" style="">
          <iframe width="100%" height="300" src="https://www.youtube.com/embed/oTK02KgXD48" frameborder="0" allowfullscreen=""></iframe>
        </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
          <iframe width="100%" height="300" src="https://www.youtube.com/embed/oTK02KgXD48" frameborder="0" allowfullscreen=""></iframe>
        </div>
  <br><br>
  <br><br>
        <div style="padding-top: 100px;" id="Key-Features" class="row"><strong style="margin-left: 150px;"> KEY FEATURE OF SURVEY SOLUTION </strong><br><br>
          <br><br>
          <div class="col-xs-12 col-sm-6 col-md-6 demo-text">
        
            <ul style="text-align: left;">
              <li>Reliability.</li>
              <li>User Friendly.</li>
              <li>Latest Technologies.</li>
              <li>Customer Satisfaction.</li>
              <li>Lightweight and Secure.</li>
              <li>Multi User Environment.</li>
            </ul>
          
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
          <ul>
              <li>Multi User Environment.</li>
              <li>Money and Time Saving.</li>
              <li>Comprehensive customer support.</li>
              <li>Regularly updating and developing software.</li>
              <li>Incorporated features from various parts of the country.</li>
            </ul>			
          </div>
        </div>
        <div style="display: flex; background-color: #edeef0; height: 900px;width: 850px;" class="row">
          <div style="width: 375px;height: 900px;" class="col-xs-12 col-sm-6 col-md-6 demo-text">
        
          <ul> <strong> UNIQUE FEATURE OF SURVEY SOLUTION</strong><br><br>
            <li>One and only software with built in <strong><i>quick album creation.</i></strong></li>
            <li><strong><i>Extensive search functions.</i></strong> on various parameters in existing records.</li>
            <li>Fast, Easy and Organized report feeding.</li>
            <li><strong><i>Advanced networking features ( Support multiple network.).</i></strong>
            </li><li><strong><i>Auto Backup</i></strong> facility keeps proper backup and prevent data loss.</li>
            <li>Single click functions for <strong><i>import, export</i></strong> to other reports.</li>
            <li>One report can be <strong><i>printed in multiple format also Excel report formats.</i></strong></li>
            <li>User also create his <strong><i>own format in excel</i></strong> and connect it with Survey Solution.</li>
            <li>Reports can be <strong><i>exported to Word, Excel and PDF</i></strong> files for sharing via mail.</li>
            <li>Developed for fast speed and less data feeding time.</li>
            <li><strong><i>Highly customizable User Interface</i></strong> and data fields.</li>
            <li> <strong><i>Built inAuto-Complete (Shortcut keys) and Spell Check.</i></strong></li>
            <li>One Software all solution in one complete suit.</li>
            <li><strong><i>Data import from Word, Excel, PDF and Image files (Pic2Text)</i></strong>.</li>
            <li>Linking of <strong><i>external daily usage files</i></strong> in the software, like paint schedules and any other PDF, Word, excel, image files and software that you use regularly.</li>
          </ul>
          
          </div>
          <div style="width: 375px;height: 900px;" class="col-xs-12 col-sm-6 col-md-6">
          <ul> <strong> USES BENEFITS OF SURVEY SOLUTION</strong><br><br>
            <li>Improves day to day <strong><i>working efficiency.</i></strong></li>
            <li><strong><i>Save complicated formatting</i></strong> and setting time.</li>
            <li><strong><i>Security checks prevents user</i></strong> from inaccurate data feeding thus improves accuracy.</li>
            <li><strong><i>Document check list</i></strong> helps users to check and collect every document.</li>
            <li><strong><i>Importing data from Images and PDF</i></strong> files saves tons of time.</li>
            <li><strong><i>Server based technology</i></strong> ensures secure and safe data management.</li>
            <li><strong><i>Easy and fast album</i></strong> creation helps users to create photo-sheets within few seconds.</li>
            <li><strong><i>Auto complete and predefined remarks</i></strong> enables user to input textual data with less typing .</li>
            <li><strong><i>Light weight and fast software framework</i></strong> for minimum system load.</li>
            <li><strong><i>Built-In Accounting</i></strong><!--<strong-->, manages all your accounting needs in the background.</li>
            <li><strong><i>Simple and user friendly interface</i></strong> helps user to start feeding the report from day one.</li>
            <li>Survey Solution <strong><i>automatically calculates</i></strong> all the data entered in the report even for <strong><i>complex paint calculation</i></strong> according to user needs.</li>
            <li>Bill outstanding report helps you to keep <strong><i>track of your business.</i></strong></li>
            <li>Survey Solution also calculate <strong><i>bill, receipt, service tax and TDS</i></strong> in accounting section.</li>
            <li><strong><i>Reminders and pending report notifications</i></strong> helps user to define priority to particular reports.</li>
          </ul>		
          </div>
        </div>
    
      </div>
        
        </div>
{%endblock%}